.footer{
    background-color: #43A6BC;
    color: #FFFFFF;
    padding: 3em;
    text-align: center;
    width: 100%;
    height: 130px;
}

.socialList{
    display: flex;
    justify-content: center;
    list-style: none;
}

.socialList li{
    margin: 0 1em;
}

.socialList li:hover{
    color: #ffbb33;;
}

.socialList svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copyRight{
    margin-top: 1em;
}
.copyRight  span{
    font-weight: bold;
}